<div class="container-fluid" >
  <div class="row justify-content-center">
    <%= tag.h3 "自分だけのSNSを作ろう", class:"text-center col-sm-8 mt-3", style:"height:30px" %>
  </div>
  <div class="row justify-content-center">
    <%= image_tag 'top.jpg', class:"col-sm-10 img-fluid mb-4" %>
  </div>
  <div class="row text-center d-none d-sm-block" style = "background: rgb(255, 255, 255);">
    <%= tag.p "誰でも簡単になんちゃってTwitterが作れる！？", class:"pt-4"%>
    <%= tag.p "あなたも今日から「ナンチャッター」", class:"h3 text-primary mb-3" %>
    <%= tag.p "こんな事を聞いたことはありませんか？「６ヶ月プログラミングを勉強したらなんちゃってTwitterが作れるようになった。」", class:"mb-0" %>
    <%= tag.p "プログラミングを勉強したい人は・・・６ヶ月頑張ってください（笑）。じゃあプログラミングに興味がない人は？", class:"mb-0" %>
    <%= tag.p "興味ないものを６ヶ月も勉強しませんよね。でも、" %>
    <%= tag.p "「自分たちだけのSNSを作りたい！」" %>
    <%= tag.p "「仲間だけで情報を共有したい！」" %>
    <%= tag.p "そんな人でも簡単になんちゃってTwitterが作れます。ジャンルを決めて簡単な情報を入力するだけ！", class:" mb-0" %>
    <%= tag.p "それだけで簡単にあなただけのSNSが作れます。そう！プログラミングなんで知らなくても大丈夫！" %>
    <%= tag.p "あなたも今日から「ナンチャッター」！！", class:"pb-5" %>
  </div>
  <div class="row text-center small d-sm-none" style = "background: rgb(255, 255, 255);">
    <%= tag.p "誰でも簡単になんちゃってTwitterが作れる！？", class:"pt-4" %>
    <%= tag.p "あなたも今日から「ナンチャッター」", class:"h3 text-primary mb-3" %>
    <%= tag.p "こんな事を聞いたことはありませんか？「６ヶ月プログラミングを勉強したらなんちゃってTwitterが作れるようになった。」", class:"mb-0" %>
    <%= tag.p "プログラミングを勉強したい人は・・・６ヶ月頑張ってください（笑）。じゃあプログラミングに興味がない人は？", class:"mb-0" %>
    <%= tag.p "興味ないものを６ヶ月も勉強しませんよね。でも、" %>
    <%= tag.p "「自分たちだけのSNSを作りたい！」" %>
    <%= tag.p "「仲間だけで情報を共有したい！」" %>
    <%= tag.p "そんな人でも簡単になんちゃってTwitterが作れます。ジャンルを決めて簡単な情報を入力するだけ！", class:" mb-0" %>
    <%= tag.p "それだけで簡単にあなただけのSNSが作れます。そう！プログラミングなんで知らなくても大丈夫！" %>
    <%= tag.p "あなたも今日から「ナンチャッター」！！", class:"pb-5" %>
  </div>
</div>

