    <%= tag.h3 "投稿一覧", class:"col-md-10 col-lg-8 border-bottom #{@border_color} pb-3 mt-2" %>
      <% @posts.each do |post| %>
        <% if post.del_flag!=1 %>
          <div class="col-md-10 col-lg-8 d-sm-flex flex-sm-wrap justify-content-between mt-3 mb-2 border-bottom <%= @border_color %>" >
            <div class="m-2 mt-md-0 mt-3 mx-md-5">
              <%= link_to("#{post.title} / #{post.postcategory.category_name}", post_show_path(post.id), class:"mb-0 #{@text_color}", style:"text-decoration: none;") %>
              <%= tag.p post.content, class:"mb-0" %>
              <% @post = post %>
              <%= render 'likes/menbur_show' if @current_app.feature_like == "implement"%>
            </div>
            
            <div class="mx-md-5">
              <%= link_to((image_tag post.post_image.url, class:"img-fluid mb-3 ", style:"width:200px;"), post_show_path(post.id)) if post.post_image.url %>
            </div>
          </div>
        <% end %>
      <% end %>