<div class="container-fluid" >
  <div class="row justify-content-center">
    <div class="col-sm-10 col-md-6 mb-5 mt-5" >
      <%= tag.h1 "appメンバー一覧" %>
        <table class="table">
          <thead>
            <%= tag.tr %>
              <%= tag.th "image", class:"#{@text_color}" %>
              <%= tag.th "nickname", class:"#{@text_color}" %>
              <%= tag.th "user", class:"#{@text_color}" %>
              <%= tag.th "app", class:"#{@text_color}" %>
          </thead>
        
          <tbody>
            <% @menburs.each do |menbur| %>
              <% if menbur.del_flag!=1 %>
                <%= tag.tr %>
                  <%= tag.td image_tag menbur.profile_image.url, class: "profile-img", style:"width:80px;border-radius:30%;" %>
                  <%= tag.td menbur.nickname, class:"#{@text_color}" %>
                  <%= tag.td menbur.user.name, class:"#{@text_color}" %>
                  <%= tag.td menbur.nancyatterapp.app_name, class:"#{@text_color}" %>
              <% end %>
            <% end %>    
        </tbody>
      </table>
    </div>
  </div>
</div>
