<div class="card mt-2" >
  <%= tag.p "投稿詳細", class:"card-header #{@card_header_text_color} ", style:"#{@card_header_bg_color}" %>
  
  <div class="card-body d-sm-flex flex-sm-wrap justify-content-left">
    <div class="card-image ">
      <%= image_tag  @post.post_image.url, class:"mx-2", style:"width:250px;"%>
    </div>
    <div class="mx-2 mb-sm-0 mt-3">
      <div class="card-text">
        <%= tag.p "タイトル: #{@post.title}", class:"card-title #{@card_text_color}" %>
        <%= tag.p "カテゴリー: #{@post.postcategory.category_name}", class:"card-title #{@card_text_color}" if @current_app.feature_category == "implement" %>
        <%= tag.p "投稿内容: #{@post.content}", class:"card-text #{@card_text_color}" %>
      </div>
      <div class="card-likes mb-3">
        <%= render 'likes/post_show' if @current_app.feature_like == "implement"%>
      </div>
      <% if @post.menbur == @current_menbur %>
        <div class="card-btn">
          <%= link_to("編集", post_edit_path(@post.id), class:"btn btn-primary") %>
          <%= link_to("削除", post_destroy_path(@post.id), data: {confirm: "「#{@post.title}」を削除します。よろしいですか？"}, class:"btn btn-primary") %>
        </div>
       <% end %>
    </div>
  </div>
</div>