<div class="container-fluid" >
  <div class="row justify-content-center">
    <div class="col-sm-10 mt-6" >
      <div class="d-flex justify-content-left">
        <%= link_to((image_tag @post.menbur.icon_image.url,class:"my-3", style:"width:70px;border-radius:30%;"),menbur_show_path(@post.menbur.id)) %>
        <%= tag.h1 "#{@post.menbur.nickname}の投稿", class:"mx-3 mt-4 " %>
      </div>
      <%= render 'posts/content' %>

      <% if @current_app.feature_comment == "implement" %>
        <%= render 'comments/index' %>
        <% if @current_menbur %>
          <%= render 'comments/new' %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

